p{
    color: brown;
    font-size: 40px;
}
.experimento{
    color: red;
    font-family: 25px;

}
#carne{
    color: blue;
    font-size: 20px;
}
.amor{
    color: yellowgreen;
    font-style: italic;
}